<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meteorsite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material">
        <activity android:name="com.example.meteorsite.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.example.meteorsite.MeteorContentProvider"
            android:authorities="com.example.meteorsite.provider"
            android:enabled="true"
            android:exported="true"></provider>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCz5V39VPxvPxJcOXz6tXDPB86jWLBR0F4"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>
